/******************** BEGIN PYWALFOX CUSTOM CSS ********************/
/* Hide page scrollbars */
html {
  scrollbar-width: none !important;
}

@-moz-document url(about:blank), url(about:newtab), url(about:home) {
  body {
    --pywalfox-font-size: 1rem;
    --pywalfox-font-size-sm: 0.8rem;
    --pywalfox-accent: var(--lwt-sidebar-highlight-background-color);
    --pywalfox-background: var(--newtab-background-color);
    --pywalfox-background-light: var(--lwt-sidebar-background-color);
    --pywalfox-lighter-background: var(--newtab-card-hairline-color);

    --newtab-card-background-color: var(--pywalfox-lighter-background) !important;
    --newtab-card-active-outline-color: var(--pywalfox-lighter-background) !important;
    --newtab-snippets-background-color: var(--pywalfox-background-light) !important;
    --newtab-topsites-background-color: transparent !important;
    --newtab-textbox-background-color: var(--pywalfox-lighter-background) !important;
    --newtab-contextmenu-button-color: var(--pywalfox-background) !important;
    --newtab-contextmenu-background-color: var(--pywalfox-background-light) !important;
  }

  .top-site-outer .title span, .top-site-outer .default-icon[data-fallback]::before,
  .top-site-outer .search-topsite[data-fallback]::before, .context-menu > ul > li > a,
  .top-site-outer .default-icon, .top-site-outer .search-topsite {
    font-weight: bold !important;
    font-size: var(--pywalfox-font-size-sm);
  }

  /* Remove box shadow border from top sites cards */
  .top-site-outer .tile {
    box-shadow: none !important;
  }

  /* Highlights card image placeholder */
  [lwt-newtab-brighttext] .card-outer .card-preview-image-outer {
    background-color: var(--pywalfox-accent) !important;
  }

  /* Top sites card hover border */
  [lwt-newtab-brighttext] .ds-top-sites .top-sites .top-site-outer .top-site-inner > a:-moz-any(:hover) .tile {
    box-shadow: 0 0 0 3px var(--newtab-card-active-outline-color) !important;
  }

  /* Clock icon in new tab highlight cards */
  .card > .card-details > .card-context {
    clip-path: none !important;
    background-color: var(--pywalfox-background) !important;
  }
}
/********************* END PYWALFOX CUSTOM CSS *********************/

